@import './header.css';

body {
	background-color: #753;
}
h1 {

	font-size: 50px;

	color: blue;
	transition: color 2s;
	span {
		font-weight: bold;
		background-color: yellow;
	}
	&:hover {
		color: orange;
	}
}